html{
	box-sizing: border-box;
    padding: 0 15%;
  }

*, *:before, *:after{
		box-sizing: inherit;
	}

a{
        color:rgb(255,255,255, 0.8)
    }

a:hover{
        color: black;
        transition: 1.5s;  /* hovering effect will be visiblw in 1.5 sec duration */
    }

h3{
    color: #ff5757;
}

pre{
    font-family: 'Times New Roman',Georgia, Times, serif;
    margin: -30px;
}

pre h4{
    margin: -10px;
}

h4{
    margin-bottom: -5px;
    margin-top: -5px;
}

/* CSS styling for header starts */
.headcontainer{
    width: auto;
    background-color: #ff5757;
    display: flex;
    color: white;
    justify-content: space-between;
    height: 15vh;
}
.headcontainer img:first-child{
    width: 8vw;
}
.info{
    font-size: 2.5em;
}
.info em:last-child{
   font-size: 0.8em;
   padding-left: 30px;
   margin-top: -40px;
}
.link figure{
    display: flex;
}

/* CSS styling for header ends */
/* CSS styling for body starts */

.body{
    padding: 0 20px;
}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.flex-item1{
    flex: 0 0.8 440px;
    margin-right: 50px;
}
.flex-item2{
    flex: 0 0.5 430px;
}
.courses{
    line-height: 22px;
}

/* CSS styling for body ends */
/* CSS styling for footer starts */
footer{
    background-color: #ff5757;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

footer p:first-child{
    align-self: flex-start;
    margin-top: 0;
}

footer p:nth-child(2){
    align-self: flex-end;
    margin-bottom: 0;
}

footer address{
    color: white;
}