html{
	box-sizing: border-box;
    padding: 0 15%;
}

*, *:before, *:after{
		box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
   
}

header{
    display: flex;
    background-color: #ff5757;
    color: black;
    height: 100px;
    justify-content: space-between;
}
header img:first-child{
    float: left;
}
.name{
    font-size: 2.3em; 
    font-weight: bolder;
 }
 .designation{
    font-size: 2em; 
    font-weight: bolder;
    padding-left: 20px;
    color:black
}
.link{
    float: right;
}
figure{
    margin-right: -40px;
}
figcaption{
    flex-wrap: nowrap;
}
h3{
    color: #ff5757;
}
.objective{
    padding: 0 30px 0 30px;
}
main{
    display: flex;
    gap: 60px;
    padding: 0 30px 0 30px;
}
main p{
    width: 90%;
    margin: 0;
}
main h4{
    margin: 10px 0;
}
.period{
     float: right; 
  }
.courses p{
    width: 110% !important;
}

footer{
    display: flex;
    background-color: #ff5757;
    justify-content: space-between;
    margin-top: 30px;
}
footer p:first-child{
    margin-top: 0;
}
footer p:nth-child(2){
    margin-top: 30px;
    margin-bottom: 0;
}
footer a{
    color: black;
    text-decoration: none;
}


/* Responsive through media query */

@media screen and (width < 991px){
    .name{
        font-size: 1.8em; 
        font-weight: bolder;
     }
     .designation{
        font-size: 1em; 
        font-weight: bolder;
        padding-left: 20px;
        color:black
    }
}

@media screen and (width < 815px){
    header{
        display: flex;
        flex-direction: column;
        background-color: #ff5757;
        color: black;
        height: fit-content;
    }
     .link{
        margin-left: -30px !important;
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 0 30px 0 30px;
    
    }
    footer{
        display: flex;
        flex-direction: column;
        background-color: #ff5757;
        margin-top: 30px;
    }
    footer p:nth-child(2){
        margin-top: 0;
        margin-bottom: 10px;
    }
}